<header class="header page js-header" role="banner">
  {{#with nav-main}}
    {{> nav-main }}
  {{/with}}
  <div class="header__wrapper js-header-wrapper">
    {{#with login}}
      {{> login}}
    {{/with}}
    {{#with search}}
      {{> search }}
    {{/with}}
  </div>
</header>
