<div class="logo">
  <h1>
    <a class="logo__link" href="{{link.href}}">
      <span class="visually-hidden">
        {{link.text}}
      </span>
      <span class="logo__icon-wrapper">
      <!--SVG-->
      <img class="logo__icon" src="{{img.src}}" alt="{{img.alt}}">
    </span>
    </a>
  </h1>
</div>
