<div class="logo">
  <h1 class="logo__headline">
    <a class="logo__link" href="{{link.href}}">
      <span class="visually-hidden">
        {{link.text}}
      </span>
      <svg class="svg-icon logo__icon" role="img" aria-labelledby="logo" focusable="false">
        <title id="logo">{{img.alt}}</title>
        <use xlink:href="#ableton-logo"></use>
      </svg>
    </a>
  </h1>
</div>
