<div class="logo-footer">
  <svg class="svg-icon logo-footer__icon" role="img" aria-labelledby="logo-footer" focusable="false">
    <title id="logo-footer">{{img.alt}}</title>
    <use xlink:href="#ableton-logo"></use>
  </svg>
</div>
