<nav class="nav-footer">
  <ul class="nav-footer__list">
    {{#each items}}
      <li class="nav-footer__item">
        <a class="nav-footer__link" href="{{link.href}}">
          <span class="visually-hiddenX">
            {{link.text}}
          </span>
          <span>
            <!--SVG-->
          </span>
        </a>
      </li>
    {{/each}}
  </ul>
</nav>
