<nav role="navigation" class="nav-main">
  <button class="nav-main__button" aria-haspopup="true" aria-controls="id-nav-main" aria-expanded="false">
    <span class="visually-hidden">{{button.text}}</span>
    <svg class="svg-icon nav-main__icon" aria-hidden="true" focusable="false">
      <use xlink:href="#icon-open"></use>
    </svg>
  </button>
  <ul id="id-nav-main" class="nav-main__list">
    {{#each items}}
      <li class="nav-main__item">
        <a class="nav-main__link" href="{{href}}">{{text}}</a>
      </li>
    {{/each}}
  </ul>
</nav>
