<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <link rel="stylesheet" href="dist/style.css">
</head>

<body>
<div class="svg-container">
  <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false">
    <symbol viewBox="0 0 60 28" id="ableton-logo">
      <path d="M-4558,28V24h28v4Zm-8,0V0h4V28Zm-8,0V0h4V28Zm-8,0V0h4V28Zm-8,0V0h4V28Zm32-8V16h28v4Zm0-8V8h28v4Zm0-8V0h28V4Z" transform="translate(4590)"/>
    <symbol>
    <symbol viewBox="0 0 21.213 21.213" id="icon-close">
      <g transform="translate(-170.413 -231.224) rotate(45)"><rect width="28" height="2" transform="translate(285 42)"/><rect width="28" height="2" transform="translate(298 57) rotate(-90)"/></g>
    </symbol>
    <symbol viewBox="0 0 24 20" id="icon-open">
      <g transform="translate(-335 -28)"><rect width="24" height="2" transform="translate(335 28)"/><rect width="24" height="2" transform="translate(335 46)"/><rect width="24" height="2" transform="translate(335 37)"/></g>
    </symbol>
    <symbol viewBox="0 0 23.809 24" id="icon-search">
      <path d="M23.809,21.646l-6.2-6.2a9.736,9.736,0,1,0-2.387,2.321L21.455,24l2.354-2.354ZM2.854,9.73a6.877,6.877,0,1,1,6.877,6.877A6.885,6.885,0,0,1,2.854,9.73Z"/>
    </symbol>
  </svg>
</div>

{{{body}}}

<script src="dist/main.js"></script>

</body>
</html>
