:root {
  /**
  * COLORS
  */
  --black: #000;
  --white: #fff;
  --primary-color: #fed134;
  --secondary-color: var(--black);

  /**
  * FONTS
  */
  --main-font: "Futura", Helvetica, sans-serif;
  --html-font-size: 100%; /* 16px */
  --html-line-height: normal;
  --base-font-size: 1rem; /* 16px */
  --small-font-size: .75rem; /* 12px*/

  @media screen and (min-width: 768px) {
    --base-font-size: 1.125rem; /* 18px */
  }

  /**
  * PAGE SPACING
  */
  --page-spacing: 1.25rem; /*20px*/

  @media screen and (min-width: 768px) {
    --page-spacing: calc(1.25rem * 2); /*40px*/
  }

  @media screen and (min-width: 1024px) {
    --page-spacing: calc(1.25rem * 3); /*60px*/
  }

  /**
  * MARGINS
  */
  --base-spacing: 1.25rem; /*20px*/
  --base-spacing-large: calc(1.25rem * 2); /*40px*/
  --base-spacing-largest: calc(1.25rem * 3); /*60px*/

  /**
  * ICON SIZES
  */
  --icon-height: 1.875rem;
  --icon-width: 1.875rem;
  --icon-width-large: calc(1.875rem * 2);

}
