.header {
  position: relative;

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }
}

.header__wrapper {
  @media screen and (min-width: 768px) {
    align-items: baseline;
    display: flex;
    justify-content: space-between;
  }
}

.header__wrapper.is-hidden {
  display: none;
}


