.logo {
  margin-bottom: 2.5rem; //40px;

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
    margin-right: var(--base-spacing-large);
  }

  @media screen and (min-width: 768px) {
    margin-right: var(--base-spacing-largest);
  }
}

.logo__headline {
  font-size: var(--base-font-size);
  line-height: 0;
}

.logo__link {
  display: block;
}

.logo__icon {
  display: inline-block;
  height: 1.875rem; //30px;
  width: 3.75rem; //60px;
}
