.logo {
  margin-bottom: var(--base-spacing-large); //40px;

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
    margin-right: var(--base-spacing-large);
  }

  @media screen and (min-width: 768px) {
    margin-right: var(--base-spacing-largest);
  }
}

.logo__headline {
  font-size: var(--base-font-size);
  line-height: 0;
}

.logo__link {
  display: block;
}

.logo__icon {
  display: inline-block;
  height: var(--icon-height);
  width: var(--icon-width-large);
}
