.nav-main {
  margin-bottom: var(--base-spacing);
  max-height: 100%;

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }
}

.nav-main__button {
  position: absolute;
  right: var(--base-spacing);
  top: var(--base-spacing);

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.nav-main__icon {
  display: inline-block;
  height: var(--icon-height);
  width: var(--icon-width);
}

.nav-main__list {
  list-style: none;

  @media screen and (min-width: 768px) {
    align-items: center;
    display: flex;
  }
}

.nav-main__item {
  margin-bottom: var(--base-spacing);

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
    margin-right: var(--base-spacing-large);
  }

  @media screen and (min-width: 1024px) {
    margin-right: var(--base-spacing-largest);
  }
}

.nav-main__item:last-child {
  margin-bottom: var(--base-spacing-large);

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }
}

.nav-main__item--login {
  font-size: var(--small-font-size);
}

.nav-main__link {}

.nav-main__link--login {}
