.nav-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-height: 100%;

  @media screen and (min-width: 768px) {
    flex-wrap: nowrap;
    margin-bottom: 0;
  }
}

.nav-main__button {
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.nav-main__icon {
  display: inline-block;
  height: var(--icon-height);
  width: var(--icon-width);
}

.nav-main__list {
  flex-basis: 100%;
  flex-grow: 1;
  list-style: none;
  margin-bottom: var(--base-spacing-large);
  padding-top: var(--base-spacing-large);

  @media screen and (min-width: 768px) {
    align-items: center;
    display: flex;
    margin-bottom: 0;
    padding-top: 0;
  }
}

.nav-main__list.is-hidden {
  display: none;
}

.nav-main__item {
  margin-bottom: var(--base-spacing);

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
    margin-right: var(--base-spacing-large);
  }

  @media screen and (min-width: 1024px) {
    margin-right: var(--base-spacing-largest);
  }
}

.nav-main__item:last-child {
  margin-bottom: 0;
}
