.search {}

.search__form {
  border-bottom: 2px solid;
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
}

.search__input {
  width: 100%;
}

.search__submit {

}

.search__icon {
  height: var(--icon-width);
  width: var(--icon-height);
}
